.h1font{
    font-size: 2.5rem;
    font-weight: bold;
    color: #bb1919;
    text-align: center;
    margin: 20px 0;
}
.h1color{
    color: #bb1919;
    font-family: jokerman,Arial, Helvetica, sans-serif;
}